<%= form_for @snippet do |f| %>
  <div>
    <%= f.collection_select :language_id, Language.order(:name), :id, :name %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Enter title here..."  %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Enter your code here..."  %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
